.THIS {
}
.THIS table {
    width: 96%;
    margin: 0 2%;
}
.THIS th,
.THIS tr,
.THIS td {
    text-align: center;
}
.THIS td,
.THIS th {
    border: 1px solid #ddd;
    padding: 5px;
}
.THIS th.blank {
    background-color: #eee;
    border: 0;
}
.THIS .tableHeading {
    font-size: 14px;
}
.THIS .goalTitle {
  text-align: left;
  padding-left: .5rem;
}

.THIS .dateHeader{
    text-align: center;
    font-weight: bold;
}

@media screen and  (min-width: 600px) {
  .THIS .dateHeader {
    display: none;
  }
}