.THIS label.slds-form-element__label { display: none; }
.THIS .form-container {margin-left: 10%;margin-right: 10%;margin-bottom: 40px;}
.THIS h1.title-text {font-size: 33px;font-weight: 500;margin-top: .5em;margin-bottom: .7em;color: #54575d;text-align: center;}
.THIS h2.sub-title-text { font-size: 22px; font-weight: 500; text-align: center; font-family: 'Nunito', sans-serif; color: #171717; margin-bottom: 12px; margin-top: 12px; }
.THIS p.info-text {font-size: 1.3em;}
.THIS .form-title { font-size: 18px; margin-top: 18px; font-weight: 700; }
.THIS .form-container label { display: block; margin-top: 8px; padding-top: 8px; font-size: 15px; padding-bottom: 5px; }
.THIS .form-container .slds-form-element__control input.slds-input {border-radius: 6px;padding:3px 10px;} 
.THIS .form-container .slds-dueling-list__column.slds-dueling-list__column_responsive {min-width: 300px !important;}
.THIS .form-container .slds-dueling-list__options {width: 100%!important;}  
.THIS .checknox-section {display: flex;align-items: center;}
.THIS .checknox-section .slds-form-element__control.slds-grow{border: none !important;}
.THIS .form-container button.submit-btn { font-size: 22px; padding: 12px 0; background: #777; border-radius: 6px; color: #fff; text-align: center; cursor: default; width: 98%; min-width: 98%; max-width: 98%; }
.THIS .form-container button.submit-btn:hover {background: #c60a45;cursor: pointer;}
/*.THIS .form-container button.submit-btn:disabled {background: #777;}*/
.THIS.thankyou-section {text-align: center;padding: 30px 10px;}
.THIS.thankyou-section .slds-text-heading_medium {font-size: 16px !important;    /*font-weight: bold !important;*/}
.THIS.thankyou-section .social-link {margin-top: 20px;}
.THIS.thankyou-section .social-link button {background: #fff;border: 1px solid #ccc;margin: 0px 5px;padding: 3px 18px;height: 40px;}
.THIS.thankyou-section .social-link button svg {width: 24px !important;margin-right: 10px;}   
.THIS.thankyou-section .social-link button img {width: 19px;vertical-align: middle;margin-right: 10px;}
.THIS.thankyou-section .social-link button.color1 img {width: 13px;}
.THIS.thankyou-section .social-link button.color5 img{margin-top: -5px;}
.THIS.thankyou-section .social-link button.color1{color:#3f5c9a; width: 150px; height: 48px;}
.THIS.thankyou-section .social-link button.color2{color:#55acee; width: 150px; height: 48px;}
.THIS.thankyou-section .social-link button.color3{color:#7d7d7d; width: 150px; height: 48px;}
.THIS.thankyou-section .social-link button.color4{color:#96d13d; width: 150px; height: 48px;}
.THIS.thankyou-section .social-link button.color5{color:#057ab7; width: 150px; height: 48px;}
 
.THIS.thankyou-section .social-link button.color1 svg{fill:#3f5c9a; width: 24px; height: 24px;}
.THIS.thankyou-section .social-link button.color2 svg{fill:#55acee; width: 24px; height: 24px;}
.THIS.thankyou-section .social-link button.color3 svg{fill:#7d7d7d; width: 24px; height: 24px;}
.THIS.thankyou-section .social-link button.color4 svg{fill:#96d13d; width: 24px; height: 24px;}
.THIS.thankyou-section .social-link button.color5 svg{fill:#057ab7; width: 24px; height: 24px;}

.THIS .tost-msg svg{fill: #fff;width: 18px;height: 23px;}
.THIS .lable-content{display:flex;align-items: center;}
.THIS .tooltip-box{position:relative;margin-top: 12px;margin-left: 10px;}
.THIS .tooltip-box-content{display:none;width: 20em;position: absolute; left: -15px; bottom: 100%; margin-bottom: 13px;}
.THIS .tooltip-box:hover .tooltip-box-content{display:block;}
.THIS .checkbox-label span.slds-checkbox {display: flex !important;align-items: center;}
.THIS .checkbox-label span.slds-checkbox lightning-helptext {margin-top: 8px;}
.THIS .slds-form-element__help {display: none !important;}
.THIS .slds-has-error .slds-form-element__help {display: block !important;}
.THIS.slds-spinner_container { position:fixed !important;}
.THIS .centered-text {
    text-align: center;
    color: red;
    font-weight: bold;
}
@media (max-width:768px)
    {
    .THIS .form-container .slds-dueling-list__column.slds-dueling-list__column_responsive {min-width: 44% !important; }
}

.THIS .error-text {
    display:none;
}

.THIS .show {
    display:flex;
    color:red;
}