.THIS .my-icon {
    --slds-c-icon-color-foreground-default: white;
}
    
.THIS.container{margin:0 auto;width:1000px;}
.THIS .inputLab{background: #a21919;padding: 6px 20px; text-align: center;margin-top:10px; color: #fff; font-size: 14px;border: 1px solid #8e1212; border-radius:5px;font-weight: bold;margin-bottom:14px;}
.THIS .slds-modal__header{padding: 0.8rem 0 ;margin-bottom: 10px; margin-top:20px; text-align: left;font-weight:bold;background: #fafaf9;font-size:14px;}
.THIS button.button-sidebar{
    top: 50%;
    position: fixed;
    right: 0;
    width: 35px;
    padding: 8px 0;
    height: inherit;
    background: #a21919;
    color: #fff;
    border: 0;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    transition: all 0.3s ease;
    z-index: 9;
    margin-top: -74px;
    outline:0 none;
}
.THIS button.button-sidebar.button-sidebar_open {
    right: 300px;
}
.THIS .instructionPanel .slds-panel_docked-right{
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 9;
    width: 300px;
    bottom: 0;
    transition: all 0.3s ease;
    margin-top:0!important;
}

.THIS .instructionPanel .slds-panel_docked-right.slds-is-open{
    right: 0;
    
}

.THIS .field{
    padding: 5px;
    border: 1px solid #dce4ec;
    border-radius: 2px;
}
.THIS .label-text label{
    display: inline-block;
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
    color: rgb(107, 109, 112);
}
.THIS .label-red label{color:#d22b2b; font-weight:bold;}
.THIS .readonlyDiv {/* background: #f1f1f1; padding: 15px;*/ }
.THIS .readonlyDiv .slds-modal__header {/*background:transparent;*/}
.THIS .readonlyDiv .slds-textarea { /*background: transparent; border:0 none;*/  resize: none;}
.THIS .readonlyDiv .slds-textarea:hover, .THIS .readonlyDiv .slds-textarea:focus ,
.THIS .readonlyDiv .slds-input:hover, .THIS .readonlyDiv .slds-input:focus 
{ outline: 0; box-shadow: none; }

.THIS .readonlyDiv .slds-input__icon{
    display:none;
}
.THIS .slds-spinner_container{margin:0 auto;width:1000px;height:1600px;}
.THIS .field{}
.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
   
}
    .THIS .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
    display: none;
    z-index: 1000; /* Ensure the overlay is on top of other elements */
}