#map {
    border-right: 1px solid #D5D5D5;
}
#pt {
    margin: -10px;
}
#pt.sforceone {
    margin: 0;
}
.info-window {
    height: 300px;
    overflow: scroll;
}
#pt {
    /*margin: -10px;*/
}
#pt .info-window h1 {
    font-size: 17px;
    padding: 0px 0px 0px 5px;
    display: inline-block;
}
.info-window th {
    text-align: right;
}
.info-window img {
    margin: 6px 6px 10px;
}
.info-window__header {
    padding-top: 3em;
}
#pt .checkbox {
    margin-bottom: 10px;
}
#pt a.leaflet-control-zoom-in:hover, #pt a.leaflet-control-zoom-out:hover {
  text-decoration: none;
}
#pt a.leaflet-disabled {
  color: #CCC;
}

#pt a.set-location {
    top: 75px;
    display: block;
    position: absolute;
    left: 10px;
    height: 26px;
    width: 26px;
    background-color: white;
    line-height: 26px;
    border-radius: 4px;
    z-index: 1;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    cursor: pointer;
}
#pt a.set-location img {
    display: block;
    margin: 1px auto 0 auto;
}
#pt.sforceone a.set-location {
    top: 15px;
    left: 15px;
    height: 35px;
    width: 35px;
}
#pt.sforceone a.set-location img {
    margin-top: 5px;
}

#pt h1.filters__header {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    padding: 2em 1em 1em 1em;
    margin: 0;
    font-size: 14px;
}
#pt .global-filter__districts {
    margin-top: 1em;
}
#pt .back-to-districts {
    background-color: #EBEBEB;
    margin-left: -22px;
    margin-bottom: 15px;
}
#pt h3.global-filter__territories__h3 {
    color: #333;
    font-size: 17px;
    display: block;
    margin-top: 0;
}
#pt .nav-tabs>li a{
    background-color: #EFEFEF;
}
#pt .search, #pt .nav-filters {
    border-left: 0;
    height: 34px;
}
.nav-filters {
    display: inline-block;
}
#pt .form-control.search-val {
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    z-index: 999999;
}
.filters__aside {
    width: 100%;
    padding: 15px;
}
.filters__aside .nav {
    padding: 2em 0;
}
.filters-panel {
    padding: 2em  2em 2em 0;
    margin-left: 18px;
}
#pt a.filter-toggle {
    display: block;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
}
#pt a.filter-toggle:hover {
    text-decoration: none;
}
#pt a.active .fa.fa-plus {
    display: none;
}
#pt a.active {
    cursor: default;
}
#pt a.active:hover {
    color: #428BCA;
}
#pt a .fa.fa-plus {
    display: inline-block;
}
#pt a.active .fa.fa-minus {
    display: inline-block;
}
#pt a .fa.fa-minus {
    display: none;
}

#pt .btn.toggle-territory-selection {
    margin: 0 0 10px -13px;
}
#pt .filter-buttons {
    margin-left: 23px;
    padding: 1em 0;
}
.hidden-small {
    display: none;
}
.hidden-big {
    display: block;
}
#pt .nav-tabs > li {
  float: left;
}
#pt .nav-tabs > li > a {
  border-radius: 4px;
}
#pt .nav-tabs > li + li {
  margin-left: 2px;
}
#pt .nav-tabs > li.active > a,
#pt .nav-tabs > li.active > a:hover,
#pt .nav-tabs > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}
#pt .leaflet-control-zoom a {
    background-color: white;
}
.leaflet-popup-pane {
    max-width: 90%;
}
.leaflet-popup-content {
    margin: 20px 30px 20px 20px;
}
.leaflet-popup-content address {
    margin: 10px 10px 20px 10px;
}
#pt a.leaflet-popup-close-button {
    color: #C04040;
    font-size: 20px;
}
body .bodyDiv #bodyTable {
    padding-bottom: 0;
}

#pt .input-group.search-container {
    padding: 10px;
}
.act-data {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 99999;
    /*width: 93.5%;*/
    padding: 0px 15px;
}
#pt .act-data .table tr th {
    text-align: left;
    width: 20%;
}
#pt .act-data .act-data__main-data.table tr th {
    padding-right: 20px;
}
#pt .act-data .table tr td {
    -ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}
#pt button.close-act-data {
    margin: 20px 5px 0 0;
    color: #C04040;
    opacity: 1;
    font-size: 30px;
}
#pt .act-data h3 {
    display: block;
    font-size: 19px;
}
#pt .modal-sm {
    width: 300px;
}
#pt a.open-menu {
    right: 0;
    display: block;
    position: absolute;
    background-color: white;
    z-index: 1;
    top: 15px;
    padding: 6px 10px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#pt a.open-menu:hover {
    text-decoration: none;
}
#pt a.open-menu i.fa {
    display: inline-block;
    font-size: 22px;
    padding-right: 5px;
}
#pt .open-menu__label {
    font-size: 19px;
}
#pt a.close-menu {
    font-size: 25px;
    padding: 10px 20px 0 10px;
    line-height: 32px;
    display: inline-block;
    color: #666;
    float: right;
}
#pt a.close-menu:hover {
    color: #999;
    text-decoration: none;
}
.filters {
    position: absolute;
    z-index: 1;
    background: white;
    width: 100%;
    right: 0;
    height: 100%;
    overflow: auto;
}
.filters .top-menu {
    background-color: #EFEFEF;
    border-bottom: 1px solid #CCC;
}
#pt .row.top-menu {
    margin: 0;
}
.lpp__img {
    margin-right: -20px;
}

@media screen and (min-width: 769px) {
    
    .filters {
        width: 33.333333%;
    }
    .filters__container {
        /*-webkit-box-shadow: 0px 5px 11px -2px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 5px 11px -2px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 5px 11px -2px rgba(50, 50, 50, 0.75);*/
        
    }
    #pt .nav-filters {
        display: none;
    }
    #pt .input-group.search-container {
        width: auto;
    }
    #pt .input-group-btn .btn.search {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

    }
    #pt .nav-tabs > li {
        float: left;
        margin-bottom: -1px;
    }
    #pt .nav-tabs > li > a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
    }
    #pt .nav-tabs > li > a:hover {
        border-color: #eeeeee #eeeeee #dddddd;
    }
    #pt .nav-tabs > li.active > a,
    #pt .nav-tabs > li.active > a:hover,
    #pt .nav-tabs > li.active > a:focus {
        color: #555555;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-bottom-color: transparent;
        cursor: default;
    }
    #pt h1.filters__header {
        padding: 1em;
    }
    .filters__aside .nav {
        padding: 0;
        background-color: transparent;
    }
    #pt .hide-filters {
        display: none;
    }
    .filters.left-side {
        left: 45px;
    }
    .filters.right-side {
        right: 45px;
    }
    .hidden-small {
        display: block;
    }
    .hidden-big {
        display: none;
    }
}

@media screen and (min-width: 1224px) {
    .filters {
        width: 25%;
    }
}
#pt .btn-filters .btn-primary {
    color: #616161;
    background-color: #EFEFEF;
    border-color: #E2E2E2;
    margin-bottom: 10px;
}
#pt .btn-filters .btn-primary.active {
    color: #FFF;
    background-color: #3276B1;
    border-color: #285E8E;
    margin-bottom: 10px;
}
.sub-checkboxes {
    margin-left: 18px;
}
#pt .sub-checkbox label, #pt .checkbox label {
    
}
.filters img {
    float: right;
}
div.filters__container {
    color: #888;
}
div.filters__container .checkbox-controller {
    margin-bottom: 4px;
}
div.filters__container .checkbox-controller i {
    font-size: 18px;
    color: #428BCA;
}
#pt div.filters__container label {
    cursor: pointer;
    font-weight: normal;
    vertical-align: middle;
}
.checkbox-controller, .sub-checkbox {
    cursor: pointer;
}
.sub-checkbox {
    margin-bottom: 4px;
}
.sub-checkbox .unchecked {
    padding-right: 3px;
}
div.filters__container .sub-checkbox i {
    font-size: 18px;    
}
a.button {
    text-decoration: none;
}
div.checkbox > label {
    font-weight: bold;
}
label {
    color: #888;
}
label.hover {
    color: #555;
}
label.checked {
    color: #222;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    opacity: .2;
    filter: alpha(opacity=20);
}
#pt .dropdown-menu li {
    margin-left: 0;
}
#pt .dealer-btns {
    margin: 1em 0 0 0;
    width: 88%;
    position: fixed;
}
#pt .dealer-btns > .btn-group > .btn {
    color: white;
    font-weight: bold;
}
#pt .btn.dealer-btns__dealer {
    background-color: #4A81B9;
}
#pt .open .btn.dealer-btns__dealer {
    background-color: #236fbd;
}
#pt .btn.dealer-btns__contact {
    background-color: #7C6BAF;
}
#pt .open .btn.dealer-btns__contact {
    background-color: #56458c;
}
#pt .btn.dealer-btns__scorecard {
    background-color: #62B6B6;
}
#pt .open .btn.dealer-btns__scorecard {
    background-color: #3d8d8d;
}

#pt  .modal-dialog {
    padding-top: 70px;
    
}


